html, body {
    margin: 0;
    padding: 0;
}

.none-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.digital-font {
    font-family: "Press Start 2P";
}

